/*---------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------*/
*{
    margin: 0;
    padding: 0;
/*  With box-sizing: border-box;, we can change the box model to what was once the “quirky” way, where an element’s specified width and height aren’t affected by padding or borders.*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    
    background-color: #fff;
    color: #2f2f2f;
    font-family: "Lato","Arial",sans-serif;
    font-weight: 300;
    font-size: 28px;
/* text-rendering property in CSS allows you to choose quality of text over speed (or vice versa) allowing you to fine tune optimization by suggesting to the browser as to how it should render text on the screen.*/
    text-rendering: optimizeLegibility;
    
}
.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------------------*/
/*HEADER SECTION*/
/*---------------------------------------*/

header{
/* WE can use the linear gradient here with the image to overlay it with a dark layer   */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.7))),url(../../resources/img/hero.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url(../../resources/img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 150px;
    height: 900px;
    
}
.hero-text-box {
    margin-top: 220px;
   position: static;
    
}

.welcome {
    margin-right: 1px;
    padding-left: 200px;
}


/*Main-nav*/


.nav-header {
   

}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 10px;

}
.logo-black {display: none;}

.main-nav {
    float:right;
    margin-top: 50px;
    margin-left: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
    font-size: 90%;
    list-style: none;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
   
}
.main-nav li:hover {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
}
    
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    padding: 10px 0 ;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    
}
.main-nav li a:hover,
.main-nav li a:active {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
    
}


/*sticky nav*/

.sticky {
    background-color: rgba(235, 235, 235, 0.86);
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 100px;
    box-shadow: 0 2px 2px #939393;
    z-index: 1000;
}

.logo-black {
    height: 80px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 160px;
    margin-bottom: 8px;

}
.sticky .logo {display: none;}
.sticky .logo-black {display: block;}
.main-nav {
    float:right;
    margin-top: 25px;
    
}



    
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #000;
    padding: 26px 0 ;
   
}

/*---------------------------------------*/
/*FEATURE SECTION*/
/*---------------------------------------*/

/*---------------------------------------*/
/*MEALS SECTION*/
/*---------------------------------------*/

.meals-section {
    padding: 0 0 ;
    margin-top: 80px;
}

.meals-showcase {
    width: 100%;
    list-style: none;
    margin-bottom: 0;
    
        
}

.meals-showcase li {
    display: block;
    float: left;
    width:25%;
    height: 100%;
  
        
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
        

.meal-photo img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.6;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    
}

/*---------------------------------------*/
/*HOW IT WORKS SECTION*/
/*---------------------------------------*/

.steps-section{
    background-color: #efeded;
    padding-top: 80px;
    padding-bottom: 80px;
}
.app-screen {
    float: right;
    height: 700px;
    width: 350px;
    
}

.work-steps:first-child{
    margin-top: 130px;
}
.work-steps {
    margin-bottom: 80px;
    font-size: 100%;
 
}
.work-steps div {
    display: inline-block;
    border :2px solid #e67e22;
    color: #e67e22;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 110%;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 101px;
    
}
.btn-app{
    height: 50px;
    width: auto;
    padding-right: 15px;
    margin-top: 30px;
    
}
.download-btn {
    width:70%;
    margin-left: 25%;
}

/*---------------------------------------*/
/*CITIES SECTION*/
/*---------------------------------------*/

.cities-section {
    margin-top: 60px;
    margin-bottom: 100px;
}

.cities-section .box {
    padding: 15px;
    float: left;
    border-radius: 30px;
    -webkit-transition: background-color 0.3s,-webkit-transform 0.3s;
    transition: background-color 0.3s,-webkit-transform 0.3s;
    transition: background-color 0.3s,transform 0.3s;
    transition: background-color 0.3s,transform 0.3s,-webkit-transform 0.3s;
    margin-bottom: 30px;
}
.cities-section .box:hover {
    background-color: #e67e22;
    color: #fff;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    overflow: hidden;
    
}

 .cities-section .box img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    
}

.city-features {
    width: 80%;
    font-size: 80%;
    margin-left: 10%;
    margin-bottom: 7px;
    
}
.city-features i {
    margin-right: 15px;
   
}

.cities-section .box div {
    font-size: 60%;
    font-weight: 500;
}

/*---------------------------------------*/
/*TESTOMONIALS SECTION*/
/*---------------------------------------*/

.testomonials-section {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.8)),to(rgba(0,0,0,0.8))),url(../../resources/img/back-customers.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../../resources/img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    padding-top: 80px;
    padding-bottom: 100px;
}
.customer-quote{
    padding: 20px;
}
.customer-quote span {
    font-size: 400%;
    
}

.testomonials-section img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.testomonials-section cite{
    font-size: 80%;
}
.testomonials-section blockquote:before {
    content: "\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
}
.testomonials-section blockquote {
    font-style: italic;
    margin-bottom: 40px;
    font-size: 85%;
    position: relative;
    line-height: 200%;
    padding: 2%;
}

/*---------------------------------------*/
/*PLANS SECTION*/
/*---------------------------------------*/

.plans-section {
    background-color: #e8e8e8;
    padding-top: 80px;
    padding-bottom: 120px;
   
}

.plan-box {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    vertical-align: middle;
    
    
}

.plan-box p {
    font-size: 80%
}
.plans-section ul {
    list-style: none;
    font-size: 90%;
    margin-left: 20px;
}

.plans-section i {
    color: #e67e22;
    margin-right: 20px;
}

.btn-plan {
    text-align: center;
    border-top: 0.1px solid #d6d6d6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plans-section .half-card {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.plan-box .plan-type-meal {
    margin-bottom: 0;
    padding-bottom: 10px;
    
    border-bottom: 0.1px solid #d6d6d6;
}
.plans-section .plan-list {
    margin-top: 30px;
    font-size: 80%;
    font-weight: 500;
    line-height: 50px;
}
.plan-type-month, .plan-type-month span  {
    font-size: 400%;
    margin-left: 20px;
    color: #e67e22;
    
}
.plan-type-meal {
    padding-left: 40px;
}
.plans-section h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*---------------------------------------*/
/*FORM SECTION*/
/*---------------------------------------*/
.contact-section {
    padding-top: 80px;
    padding-bottom: 100px;
}
.contact-form {
    margin-top: 100px;
    font-size: 80%;
    margin-left: 120px
}
.form-item {
    margin-bottom: 20px;
}
.form-item label {
    margin-left: 40px;
   font-weight: 500;
}

.form-item .name,.email {
    width: 70%;
    height: 110%
}

.form-item select {
    width: 70%;
    background-color: #f0f0f0;
}
.form-item textarea {
    width: 70%;
}
.form-item .name,
.form-item .email,
.form-item select,
.form-item textarea {
    padding: 7px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.form-btn {
    margin-left: 70px;
}

.checkbox {
   margin-left:40px; 
}
*:focus {outline: none;}

/*---------------------------------------*/
/*----FOOTER---*/
/*---------------------------------------*/
footer {
    background-color: #2f2f2f;
    color: #8b8b8b;
    padding: 50px 20px 0  20px
}

footer ul {
    list-style: none;
    
}

footer li {
    float: left;
    margin-left: 40px;
}

footer .nav-items {
    float: left;
    font-size: 70%;
    margin-left: 50px;
    
}

footer .nav-social {
    float: right;
    margin-right: 80px;
}
footer .footer-p {
    margin-top: 50px;
    font-size: 70%;
    margin-bottom: 30px;
}
footer i {
    color:#8b8b8b;
}
footer i:hover {
    color: #dddddd;
}
footer a {
    color:#8b8b8b;
}
footer a:hover {
    text-decoration: none;
}
/*---------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------*/
/*initialize class row and centering it*/
.row-main{
    max-width: 1140px;
/* margin right and left auto top and bottom to 0*/
    margin: 0 auto 0 auto;
}
/*-------------- HEADING ----------------*/

h1,h2,h3 {
   
    
    font-weight: 300;
    text-transform: uppercase;
  
}

h1 {
    color: white; 
     margin-top: 0;
     margin-bottom: 20px;
     font-size: 230%;
    word-spacing: 5px;
    
    
}

h2 {
    text-align: center;
    font-size: 145%;
    margin-top: 30px;
    word-spacing: 2px;
    font-weight: 400;
    word-spacing: 5px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 40px auto ;
    
    
}
h3 {
    padding: 15px 0;
    font-size: 90%;
    font-weight: 400;
    text-align: center;
    margin-right: 5px;
        
    
}

/*-------------- ICONS ----------------*/

.big-icon {
    display: block;
    font-size: 250%;
    color: #e67e22;
    margin-left: 40%;
    
}

/*-------------- BUTTONS ----------------*/

/* link here is for the normal state before the link is clicked*/
/*visited is the same as link in styling because we need  the same styling after the link is visited*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 390;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    -webkit-transition: background-color 0.6s,color 0.6s;
    transition: background-color 0.6s,color 0.6s;
}


.btn-full:link,
.btn-full:visited{
    background-color:#e67e22;
     border: 2px solid #e67e22;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 30px;
    
    
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #e67e22;
    color: #e67e22;
    margin-bottom: 30px;
    
}

.btn:hover,
.btn:active {
    background-color: #bf6516;
    color: #fff;
    border: 2px solid #bf6516;
}



/*-------------- PARAGRAPHS ----------------*/


.long-copy {
    line-height: 145%;
    width: 75%;
    margin-left: 12.5%;
    font-size: 78%;
    font-weight: 400;
    margin-bottom: 50px;
}

.box p {
    margin-top: 10px;
    font-size: 70%;
    line-height: 35px;
    font-weight: 400;
    width: 80%;
    margin-left: 15%;
    
}